<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    >

    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.One_Vault_AppJava">
        <activity android:name=".FeaturesDashboard">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Registration">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MasterPage"
            android:exported="true" />
        <activity android:name=".MasterPasswordCreation"
            android:exported="true" />
        <activity android:name=".ThirdPage"
            android:exported="true" />
        <activity android:name=".PasswordForm"
            android:exported="true" />
        <activity android:name=".AddressForm"
            android:exported="true" />
        <activity android:name=".NotesForm"
            android:exported="true" />
        <activity android:name=".TwoFactorAuthentication"
            android:exported="true" />
        <activity android:name=".ThreatNotification"
            android:exported="true" />
        <activity android:name=".PasswordInheritance"
            android:exported="true" />
        <activity android:name=".InactivityChecker"
            android:exported="true" />
        <activity android:name=".PasswordEnhancement"
            android:exported="true" />
        <activity android:name=".SettingsPage"
            android:exported="true" />
        <activity android:name=".SecondPage"
            android:exported="true" />
        <activity android:name=".LoginPage"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>


        </activity>
    </application>



</manifest>